body {
    background-color: lightgreen;
    /* background-image: url('../../assets/images.jpg'); */
}

.scatter-style {
    height: auto;
    width: fit-content;
}


/* .custom {
    margin-top: 10px;
} */

.custom_colors {
    background-image: url('../../assets/images.jpg');
}

.card_design1 {
    padding: 10px;
    background-color: #2092ed;
    color: white;
}

.card_design2 {
    padding: 10px;
    background-color: #ffc107;
    color: white;
}

.card_design3 {
    padding: 10px;
    background-color: #28a745;
    color: white;
}

.card_design4 {
    padding: 10px;
    background-color: #dd3d31;
    color: white;
}

.card-style {
    width: 100%;
}


/*SCALE ON HOVER*/

.card_hover :hover {
    transform: translateY(1px);
    transition: .2s ease-in;
}